
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 40 11% 10%;
    --foreground: 40 10% 98%;
    --card: 40 11% 12%;
    --card-foreground: 40 10% 98%;
    --popover: 40 11% 10%;
    --popover-foreground: 40 10% 98%;
    --primary: 38 88% 54%;
    --primary-foreground: 40 10% 10%;
    --secondary: 40 11% 20%;
    --secondary-foreground: 40 10% 98%;
    --muted: 40 11% 15%;
    --muted-foreground: 40 10% 65%;
    --accent: 3 58% 48%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 40 11% 18%;
    --input: 40 11% 18%;
    --ring: 38 88% 54%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
}
